Repository pravega/pravega, pull requests merged in 2018-08, with the labels that each got.

#2811 Issue 2810: Move MetricRegistryUtils to prevent circular dependency.
  build.gradle
  shared/metrics/src/test/java/io/pravega/shared/metrics/MetricRegistryUtils.java
  shared/metrics/src/test/java/io/pravega/shared/metrics/MetricsProviderTest.java
  test/integration/src/test/java/io/pravega/test/integration/MetricsTest.java
Labels: area/build

#2774 Issue 2773: Do not check for data availability in the stream locally
  segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/hdfs/HDFSStorage.java
Labels: area/server, area/tier2

#2806 Issue 2805: Improve resilience of Pinger
  client/src/main/java/io/pravega/client/stream/impl/Pinger.java
Labels: area/transaction

#2814 Issue 2813: Ensure the correct Segment routing key range is updated with replacement range.
  client/src/main/java/io/pravega/client/stream/impl/SegmentSelector.java
  client/src/main/java/io/pravega/client/stream/impl/StreamSegments.java
  client/src/main/java/io/pravega/client/stream/impl/StreamSegmentsWithPredecessors.java
  client/src/test/java/io/pravega/client/stream/impl/StreamSegmentsTest.java
Labels: area/client

#2825 Issue [2824] [2816]: Document and refactor delegation token creation in controller.
  controller/src/main/java/io/pravega/controller/server/ControllerServiceStarter.java
  controller/src/main/java/io/pravega/controller/server/eventProcessor/LocalController.java
  controller/src/main/java/io/pravega/controller/server/rpc/auth/AuthHelper.java
  controller/src/main/java/io/pravega/controller/server/rpc/auth/PravegaAuthManager.java
  controller/src/main/java/io/pravega/controller/server/rpc/auth/PravegaInterceptor.java
  controller/src/main/java/io/pravega/controller/server/rpc/grpc/GRPCServer.java
  controller/src/main/java/io/pravega/controller/server/rpc/grpc/v1/ControllerServiceImpl.java
  controller/src/main/java/io/pravega/controller/task/Stream/StreamMetadataTasks.java
  controller/src/main/java/io/pravega/controller/task/Stream/StreamTransactionMetadataTasks.java
  controller/src/test/java/io/pravega/controller/fault/ControllerClusterListenerTest.java
  controller/src/test/java/io/pravega/controller/mocks/MockStreamTransactionMetadataTasks.java
  controller/src/test/java/io/pravega/controller/server/ControllerServiceWithZKStreamTest.java
  controller/src/test/java/io/pravega/controller/server/eventProcessor/ControllerEventProcessorTest.java
  controller/src/test/java/io/pravega/controller/server/eventProcessor/ScaleRequestHandlerTest.java
  controller/src/test/java/io/pravega/controller/server/retention/StreamCutServiceTest.java
  controller/src/test/java/io/pravega/controller/server/retention/ZkStoreRetentionTest.java
  controller/src/test/java/io/pravega/controller/server/rpc/auth/PravegaAuthManagerTest.java
  controller/src/test/java/io/pravega/controller/server/v1/ControllerServiceTest.java
  controller/src/test/java/io/pravega/controller/server/v1/InMemoryControllerServiceImplTest.java
  controller/src/test/java/io/pravega/controller/server/v1/ZKControllerServiceImplTest.java
  controller/src/test/java/io/pravega/controller/task/Stream/IntermittentCnxnFailureTest.java
  controller/src/test/java/io/pravega/controller/task/Stream/StreamMetadataTasksTest.java
  controller/src/test/java/io/pravega/controller/task/Stream/StreamTransactionMetadataTasksTest.java
  controller/src/test/java/io/pravega/controller/task/TaskTest.java
  controller/src/test/java/io/pravega/controller/timeout/TimeoutServiceTest.java
Labels: area/security

#2872 Issue 2873: Revert breaking api from 0.3 release
  client/src/main/java/io/pravega/client/ClientConfig.java
  client/src/main/java/io/pravega/client/stream/impl/Credentials.java
  client/src/main/java/io/pravega/client/stream/impl/DefaultCredentials.java
  client/src/main/java/io/pravega/client/stream/impl/PravegaCredsWrapper.java
  client/src/test/java/io/pravega/client/CredentialsExtractorTest.java
  controller/src/main/java/io/pravega/controller/server/rest/resources/StreamMetadataResourceImpl.java
  controller/src/main/java/io/pravega/controller/server/rpc/auth/PasswordAuthHandler.java
  controller/src/main/java/io/pravega/controller/server/rpc/auth/PravegaAuthManager.java
  controller/src/main/java/io/pravega/controller/server/rpc/auth/PravegaInterceptor.java
  controller/src/main/java/io/pravega/controller/server/rpc/auth/TestAuthHandler.java
  controller/src/test/java/io/pravega/controller/rest/v1/Failing403StreamMetaDataTests.java
  controller/src/test/java/io/pravega/controller/rest/v1/SecureStreamMetaDataTests.java
  controller/src/test/java/io/pravega/controller/server/rpc/auth/PravegaAuthManagerTest.java
  shared/authplugin/src/main/java/io/pravega/auth/AuthConstants.java
  shared/authplugin/src/main/java/io/pravega/auth/AuthHandler.java
  test/testcommon/src/main/java/io/pravega/test/common/TestUtils.java
Labels: area/client, area/controller, in progress, priority/P0, status/in-progress, tag/breaksAPI, version/0.3.2
