Repository pravega/pravega, pull requests merged in 2018-07, with the labels that each got.

#2723 Issue 2718: Substitute jsr311-api with javax.ws.rs-api
  build.gradle
Labels: area/build

#2743 Issue #2738: Optimize re-filling read buffer on the client.
  client/src/main/java/io/pravega/client/segment/impl/SegmentInputStreamImpl.java
  client/src/test/java/io/pravega/client/segment/impl/SegmentInputStreamTest.java
Labels: area/client, area/performance

#2667 Issue 2556: Expand client batch size to half server latency
  client/src/main/java/io/pravega/client/netty/impl/AppendBatchSizeTrackerImpl.java
Labels: area/performance

#2732 Issue 2658: Refresh `delegationToken` for metadataclient during truncation
  client/src/main/java/io/pravega/client/stream/impl/EventStreamReaderImpl.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupStateManager.java
  client/src/test/java/io/pravega/client/stream/impl/EventStreamReaderTest.java
Labels: area/client, area/security

#2742 Issue 2739: Ensure Orderer selects sealed segments
  client/src/main/java/io/pravega/client/segment/impl/AsyncSegmentInputStream.java
  client/src/main/java/io/pravega/client/segment/impl/SegmentInputStream.java
  client/src/main/java/io/pravega/client/segment/impl/SegmentInputStreamImpl.java
  client/src/main/java/io/pravega/client/stream/impl/Orderer.java
  client/src/test/java/io/pravega/client/segment/impl/SegmentInputStreamTest.java
  client/src/test/java/io/pravega/client/stream/impl/OrdererTest.java
  client/src/test/java/io/pravega/client/stream/mock/MockSegmentIoStreams.java
  common/src/main/java/io/pravega/common/util/CircularBuffer.java
Labels: area/client, area/performance

#2751 Issue 2750: Fix compiler error caused by merge conflict.
  test/system/src/test/java/io/pravega/test/system/BookieFailoverTest.java
Labels: area/build

#2712 Issue 2697: Handle case where buffer returned from a serializer does not implement .array()
  client/src/main/java/io/pravega/client/stream/impl/ByteBufferSerializer.java
  client/src/test/java/io/pravega/client/stream/impl/ByteSerializerTest.java
  shared/protocol/src/main/java/io/pravega/shared/protocol/netty/WireCommands.java
  test/integration/src/test/java/io/pravega/test/integration/IdleSegmentTest.java
Labels: area/autoscaling, area/client

#2749 Issue 2739: Add checks for truncated segments to SegmentInputSteamTest
  client/src/test/java/io/pravega/client/segment/impl/SegmentInputStreamTest.java
Labels: area/client, area/testing
