Repository pravega/pravega, pull requests merged in 2018-05, with the labels that each got.

#2522 Issue 2518: Ensure BatchClient handles StreamCut.UNBOUNDED (BugFix)
  client/src/main/java/io/pravega/client/batch/BatchClient.java
  client/src/main/java/io/pravega/client/batch/impl/BatchClientImpl.java
  client/src/test/java/io/pravega/client/batch/impl/BatchClientImplTest.java
Labels: area/client

#2506 Issue #2505: Workaround compiler bug.
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupStateManager.java
Labels: area/build

#2507 Issue 2502: Enable `equals` for StreamCut.UNBOUNDED.
  client/src/main/java/io/pravega/client/stream/StreamCut.java
  client/src/main/java/io/pravega/client/stream/impl/UnboundedStreamCut.java
  client/src/test/java/io/pravega/client/stream/StreamCutTest.java
Labels: area/client

#2533 Issue 2441: Ensure SegmentTruncatedException is thrown by AsyncSegmentInputStream.
  client/src/main/java/io/pravega/client/segment/impl/AsyncSegmentInputStream.java
  client/src/main/java/io/pravega/client/segment/impl/AsyncSegmentInputStreamImpl.java
  client/src/test/java/io/pravega/client/segment/impl/AsyncSegmentInputStreamTest.java
  test/integration/src/test/java/io/pravega/test/integration/BoundedStreamReaderTest.java
Labels: area/client

#2514 Issue 2513: Client side versioned binary serialization
  client/src/main/java/io/pravega/client/segment/impl/Segment.java
  client/src/main/java/io/pravega/client/state/Revision.java
  client/src/main/java/io/pravega/client/state/RevisionedStreamClient.java
  client/src/main/java/io/pravega/client/state/impl/RevisionImpl.java
  client/src/main/java/io/pravega/client/stream/Checkpoint.java
  client/src/main/java/io/pravega/client/stream/EventPointer.java
  client/src/main/java/io/pravega/client/stream/Position.java
  client/src/main/java/io/pravega/client/stream/Sequence.java
  client/src/main/java/io/pravega/client/stream/Stream.java
  client/src/main/java/io/pravega/client/stream/StreamCut.java
  client/src/main/java/io/pravega/client/stream/impl/CheckpointImpl.java
  client/src/main/java/io/pravega/client/stream/impl/EventPointerImpl.java
  client/src/main/java/io/pravega/client/stream/impl/EventPointerInternal.java
  client/src/main/java/io/pravega/client/stream/impl/PositionImpl.java
  client/src/main/java/io/pravega/client/stream/impl/PositionInternal.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupState.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupStateManager.java
  client/src/main/java/io/pravega/client/stream/impl/StreamCutImpl.java
  client/src/main/java/io/pravega/client/stream/impl/StreamCutInternal.java
  client/src/main/java/io/pravega/client/stream/impl/StreamImpl.java
  client/src/main/java/io/pravega/client/stream/impl/StreamInternal.java
  client/src/main/java/io/pravega/client/stream/impl/UnboundedStreamCut.java
  client/src/test/java/io/pravega/client/state/impl/SerializationTest.java
  client/src/test/java/io/pravega/client/stream/impl/EventPointerTest.java
  client/src/test/java/io/pravega/client/stream/impl/SerializationTest.java
  common/src/main/java/io/pravega/common/Exceptions.java
  common/src/main/java/io/pravega/common/util/ByteArraySegment.java
  common/src/main/java/io/pravega/common/util/ToStringUtils.java
  common/src/test/java/io/pravega/common/util/ToStringUtilsTest.java
  controller/src/main/java/io/pravega/controller/store/checkpoint/ZKCheckpointStore.java
  controller/src/test/java/io/pravega/controller/eventProcessor/impl/ConcurrentEventProcessorTest.java
  segmentstore/server/src/main/java/io/pravega/segmentstore/server/logs/operations/CachedStreamSegmentAppendOperation.java
  segmentstore/server/src/main/java/io/pravega/segmentstore/server/logs/operations/StreamSegmentAppendOperation.java
Labels: area/client, tag/breaksAPI

#2529 Issue 2465: log better grpc errors.
  client/src/main/java/io/pravega/client/stream/impl/ControllerImpl.java
  common/src/main/java/io/pravega/common/Exceptions.java
  standalone/src/test/java/io/pravega/local/InProcPravegaClusterTest.java
  standalone/src/test/java/io/pravega/local/SecurePravegaClusterTest.java
Labels: area/client, area/security, in progress, kind/enhancement

#2560 Issue 2559: Setting scheme to `tls` when `enableTls` is set `tcp` otherwise.
  standalone/src/main/java/io/pravega/local/InProcPravegaCluster.java
Labels: area/security, area/server, in progress, kind/bug

#2576 Issue 2528: Prevent stalling writer if segment is sealed while handling a segment sealed.
  client/src/main/java/io/pravega/client/segment/impl/SegmentOutputStreamImpl.java
  client/src/main/java/io/pravega/client/stream/impl/EventStreamWriterImpl.java
  client/src/test/java/io/pravega/client/stream/impl/EventStreamWriterTest.java
Labels: area/autoscaling

#2595 Issue 2594: Ensure SegmentMetadataClient#getSegmentInfo propagates NoSuchSegmentException.
  client/src/main/java/io/pravega/client/segment/impl/SegmentMetadataClientImpl.java
  client/src/test/java/io/pravega/client/stream/impl/EventStreamReaderTest.java
Labels: area/client

#2475 Issue 2460: When sending no credentials, exception returned has UNKNOWN status
  controller/src/main/java/io/pravega/controller/server/rpc/auth/PravegaInterceptor.java
Labels: area/controller, area/security, kind/bug

#2565 Issue 2547: Ensure ClientFactory.close() always closes the Controller client.
  client/src/main/java/io/pravega/client/admin/impl/ReaderGroupManagerImpl.java
  client/src/main/java/io/pravega/client/stream/impl/ClientFactoryImpl.java
  client/src/test/java/io/pravega/client/stream/impl/ClientFactoryTest.java
  controller/src/main/java/io/pravega/controller/server/rest/resources/StreamMetadataResourceImpl.java
Labels: area/client, area/controller

#2525 Issue 2501: Ensure that the race for rename is resolved
  segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/hdfs/HDFSStorage.java
Labels: area/server, area/tier2, in progress, kind/bug

#2530 Issue 2396 : Adding pluginlib to classpath to pickup plugin config.
  build.gradle
Labels: area/build, area/controller, area/security, in progress, kind/enhancement

#2416 Issue 2335: Create credentials between controller and segmentstore dynamically from system properties.
  segmentstore/server/host/src/main/java/io/pravega/segmentstore/server/host/stat/AutoScaleProcessor.java
  segmentstore/server/host/src/main/java/io/pravega/segmentstore/server/host/stat/AutoScalerConfig.java
  segmentstore/server/host/src/test/java/io/pravega/segmentstore/server/host/stat/AutoScaleProcessorTest.java
  standalone/src/main/java/io/pravega/local/InProcPravegaCluster.java
  test/integration/src/main/java/io/pravega/test/integration/selftest/adapters/OutOfProcessAdapter.java
Labels: area/controller, area/security, area/server, kind/enhancement

#2589 Issue 2181: Serialization of ReaderGroupState using versioned serialization
  client/src/main/java/io/pravega/client/admin/impl/ReaderGroupManagerImpl.java
  client/src/main/java/io/pravega/client/stream/ReaderGroupConfig.java
  client/src/main/java/io/pravega/client/stream/StreamCut.java
  client/src/main/java/io/pravega/client/stream/impl/CheckpointImpl.java
  client/src/main/java/io/pravega/client/stream/impl/CheckpointState.java
  client/src/main/java/io/pravega/client/stream/impl/ClientFactoryImpl.java
  client/src/main/java/io/pravega/client/stream/impl/EventPointerImpl.java
  client/src/main/java/io/pravega/client/stream/impl/PositionImpl.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupImpl.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupState.java
  client/src/main/java/io/pravega/client/stream/impl/UnboundedStreamCut.java
  client/src/test/java/io/pravega/client/stream/StreamCutTest.java
  client/src/test/java/io/pravega/client/stream/impl/ReaderGroupImplTest.java
  client/src/test/java/io/pravega/client/stream/impl/ReaderGroupStateManagerTest.java
  client/src/test/java/io/pravega/client/stream/impl/SerializationTest.java
  client/src/test/java/io/pravega/client/stream/mock/MockStreamManager.java
  common/src/main/java/io/pravega/common/io/serialization/RevisionDataOutput.java
  common/src/main/java/io/pravega/common/io/serialization/VersionedSerializer.java
  common/src/main/java/io/pravega/common/util/ByteArraySegment.java
  common/src/test/java/io/pravega/common/io/serialization/RevisionDataOutputStreamTests.java
Labels: area/client, tag/breaksAPI

#2627 Issue 2626: Fix variable charset bug.
  common/src/test/java/io/pravega/common/io/serialization/RevisionDataOutputStreamTests.java
Labels: area/testing
