Repository pravega/pravega, pull requests merged in 2018-06, with the labels that each got.

#2639 Issue 2628: Fix events out of sequence due to scaling.
  client/src/main/java/io/pravega/client/segment/impl/SegmentOutputStreamImpl.java
  client/src/test/java/io/pravega/client/segment/impl/SegmentOutputStreamTest.java
Labels: area/client

#2647 Issue 2646: Junits to validate readerShutdown with null offset.
  client/src/test/java/io/pravega/client/stream/impl/ReaderGroupStateManagerTest.java
Labels: area/client

#2677 Issue #2609: Increase default buffer size to 1MB.
  client/src/main/java/io/pravega/client/segment/impl/SegmentInputStreamImpl.java
Labels: area/performance

#2612 Issue 2613: EventStreamWriter should handle NoSuchSegment due to truncation gracefully.
  client/src/main/java/io/pravega/client/segment/impl/SegmentOutputStreamImpl.java
  client/src/main/java/io/pravega/client/stream/impl/SegmentSelector.java
  client/src/test/java/io/pravega/client/segment/impl/SegmentOutputStreamTest.java
  client/src/test/java/io/pravega/client/stream/impl/SegmentSelectorTest.java
  client/src/test/java/io/pravega/client/stream/mock/MockController.java
  test/integration/src/test/java/io/pravega/test/integration/endtoendtest/EndToEndTruncationTest.java
Labels: area/client, kind/enhancement

#2704 Issue 2614: Ensure Client handles WireCommand.NoSuchSegment in response to a SetupAppend.
  client/src/main/java/io/pravega/client/segment/impl/SegmentOutputStreamFactoryImpl.java
  client/src/main/java/io/pravega/client/segment/impl/SegmentOutputStreamImpl.java
  client/src/test/java/io/pravega/client/segment/impl/SegmentOutputStreamTest.java
  test/integration/src/test/java/io/pravega/test/integration/endtoendtest/EndToEndTruncationTest.java
Labels: area/client

#2654 Issue 2653: Exceptions during unmarshalling of grpc auth headers pollute logs
  controller/src/main/java/io/pravega/controller/server/rpc/auth/PravegaInterceptor.java
Labels: area/controller, area/security, kind/bug, priority/P2

#2716 Issue 2717: Bump version for release
  gradle.properties
Labels: kind/release

#2722 Issue 2719: Changing default value for `bookkeeper.zkAddress`.
  config/config.properties
Labels: area/server, priority/P3

#2724 Issue 2718: Substitute jsr311-api with javax.ws.rs-api
  build.gradle
Labels: area/build
