Repository pravega/pravega, pull requests merged in 2018-10, with the labels that each got.

#2960 Issue 2957: Setting default tier2 to HDFS.
  segmentstore/server/src/main/java/io/pravega/segmentstore/server/store/ServiceConfig.java
Labels: area/server, area/tier2, kind/bug

#2582 Issue 2580: Disable hostnamechecks for AutoScaleProcessor.
  segmentstore/server/host/src/main/java/io/pravega/segmentstore/server/host/stat/AutoScaleProcessor.java
  segmentstore/server/host/src/main/java/io/pravega/segmentstore/server/host/stat/AutoScalerConfig.java
Labels: area/controller, area/security

#2587 Issue 2578: enable TLS for REST interface
  build.gradle
  controller/src/main/java/io/pravega/controller/server/rest/RESTServer.java
  controller/src/main/java/io/pravega/controller/server/rest/RESTServerConfig.java
  controller/src/main/java/io/pravega/controller/server/rest/impl/RESTServerConfigImpl.java
  controller/src/test/java/io/pravega/controller/rest/v1/PingTest.java
  standalone/src/main/java/io/pravega/local/InProcPravegaCluster.java
  standalone/src/main/java/io/pravega/local/LocalPravegaEmulator.java
  standalone/src/main/java/io/pravega/local/SingleNodeConfig.java
Labels: area/controller, area/rest, area/security

#2997 Issue #2995: Remove dependency on netty from common
  build.gradle
Labels: area/build

#3027 Issue #2523: Allow leak detector test time to converge on correct value.
  test/integration/src/test/java/io/pravega/test/integration/endtoendtest/EndToEndChannelLeakTest.java
Labels: area/testing

#2980 Issue 2979: Improve precision of StreamCuts obtained via ReaderGroup
  client/src/main/java/io/pravega/client/stream/ReaderGroup.java
  client/src/main/java/io/pravega/client/stream/impl/CheckpointState.java
  client/src/main/java/io/pravega/client/stream/impl/EventStreamReaderImpl.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupImpl.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupState.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupStateManager.java
  client/src/test/java/io/pravega/client/stream/impl/ReaderGroupImplTest.java
  client/src/test/java/io/pravega/client/stream/impl/ReaderGroupStateTest.java
  test/integration/src/test/java/io/pravega/test/integration/CheckpointTest.java
  test/integration/src/test/java/io/pravega/test/integration/endtoendtest/AbstractEndToEndTest.java
  test/integration/src/test/java/io/pravega/test/integration/endtoendtest/EndToEndReaderGroupTest.java
Labels: area/client
