Repository pravega/pravega, pull requests merged in 2018-04, with the labels that each got.

#2383 Issue 2382: Hold onto StateSynchronizer in ReaderGroup
  client/src/main/java/io/pravega/client/admin/ReaderGroupManager.java
  client/src/main/java/io/pravega/client/admin/impl/ReaderGroupManagerImpl.java
  client/src/main/java/io/pravega/client/stream/ReaderGroup.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupImpl.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupState.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupStateManager.java
  client/src/main/java/io/pravega/client/stream/notifications/NotifierFactory.java
  client/src/test/java/io/pravega/client/stream/impl/ReaderGroupImplTest.java
  client/src/test/java/io/pravega/client/stream/impl/ReaderGroupStateManagerTest.java
  client/src/test/java/io/pravega/client/stream/mock/MockStreamManager.java
  client/src/test/java/io/pravega/client/stream/notifications/NotificationFrameworkTest.java
  controller/src/main/java/io/pravega/controller/eventProcessor/impl/EventProcessorGroupImpl.java
  controller/src/test/java/io/pravega/controller/eventProcessor/impl/EventProcessorTest.java
  controller/src/test/java/io/pravega/controller/task/Stream/StreamTransactionMetadataTasksTest.java
  test/integration/src/test/java/io/pravega/test/integration/CheckpointTest.java
  test/integration/src/test/java/io/pravega/test/integration/ReaderGroupNotificationTest.java
  test/integration/src/test/java/io/pravega/test/integration/StreamCutsTest.java
  test/integration/src/test/java/io/pravega/test/integration/StreamSeekTest.java
  test/integration/src/test/java/io/pravega/test/integration/UnreadBytesTest.java
  test/integration/src/test/java/io/pravega/test/integration/endtoendtest/EndToEndChannelLeakTest.java
  test/system/src/test/java/io/pravega/test/system/ReaderCheckpointTest.java
Labels: area/client

#2408 Issue 2403: Moving `authplugin` gradle project under `shared`.
  build.gradle
  settings.gradle
  shared/authplugin/src/main/java/io/pravega/auth/AuthHandler.java
  shared/authplugin/src/main/java/io/pravega/auth/ServerConfig.java
Labels: area/controller, area/security, area/server, kind/enhancement, priority/P1

#2447 Issue 2381: Add some debug logging
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupStateManager.java
Labels: area/client, area/readergroup

#2434 Issue2433: Ensure SegmentRange is serializable.
  client/src/main/java/io/pravega/client/batch/SegmentRange.java
  client/src/main/java/io/pravega/client/batch/impl/SegmentRangeImpl.java
Labels: area/client

#2448 Bugfix 2381: Avoid holding on to old checkpoints in the automatic CP path.
  client/src/main/java/io/pravega/client/stream/impl/CheckpointState.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupImpl.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupState.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupStateManager.java
  client/src/test/java/io/pravega/client/stream/impl/CheckpointStateTest.java
Labels: area/client

#2426 Issue 2425: BugFix: Ensure SegmentRange.getScope() returns the scope of the stream
  client/src/main/java/io/pravega/client/batch/SegmentRange.java
  client/src/main/java/io/pravega/client/batch/impl/SegmentRangeImpl.java
  client/src/test/java/io/pravega/client/batch/impl/SegmentRangeImplTest.java
Labels: area/client, tag/breaksAPI

#2435 Issue 2429: Get initial number of segments via SegmentNotifier.
  client/src/main/java/io/pravega/client/stream/notifications/notifier/SegmentNotifier.java
  client/src/test/java/io/pravega/client/stream/notifications/SegmentNotifierTest.java
  test/integration/src/test/java/io/pravega/test/integration/ReaderGroupNotificationTest.java
Labels: area/client, kind/enhancement

#2482 Issue 2481: ZkStreamStore.getCurrentTxns should not throw DataNotFoundException
  controller/src/main/java/io/pravega/controller/store/stream/ZKStream.java
  controller/src/test/java/io/pravega/controller/store/stream/ZkStreamTest.java
Labels: area/controller, kind/bug, priority/P0

#2484 Issue 2478: Fix issue with extracting config from env vars.
  client/src/main/java/io/pravega/client/ClientConfig.java
Labels: area/client, area/security, in progress, kind/bug

#2489 Issue 2487: Remove suspend flag from debug options for standalone.
  build.gradle
Labels: area/server, kind/bug

#2398 Issue 2367: Bounded processing using ReaderGroup API.
  client/src/main/java/io/pravega/client/admin/impl/ReaderGroupManagerImpl.java
  client/src/main/java/io/pravega/client/segment/impl/EndOfSegmentException.java
  client/src/main/java/io/pravega/client/segment/impl/SegmentInputStream.java
  client/src/main/java/io/pravega/client/segment/impl/SegmentInputStreamFactory.java
  client/src/main/java/io/pravega/client/segment/impl/SegmentInputStreamFactoryImpl.java
  client/src/main/java/io/pravega/client/segment/impl/SegmentInputStreamImpl.java
  client/src/main/java/io/pravega/client/stream/EventStreamReader.java
  client/src/main/java/io/pravega/client/stream/ReaderGroup.java
  client/src/main/java/io/pravega/client/stream/ReaderGroupConfig.java
  client/src/main/java/io/pravega/client/stream/ReaderGroupMetrics.java
  client/src/main/java/io/pravega/client/stream/impl/EventStreamReaderImpl.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupImpl.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupState.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupStateManager.java
  client/src/test/java/io/pravega/client/segment/impl/SegmentInputStreamTest.java
  client/src/test/java/io/pravega/client/stream/ReaderGroupConfigTest.java
  client/src/test/java/io/pravega/client/stream/impl/EventStreamReaderTest.java
  client/src/test/java/io/pravega/client/stream/impl/ReaderGroupImplTest.java
  client/src/test/java/io/pravega/client/stream/impl/ReaderGroupStateManagerTest.java
  client/src/test/java/io/pravega/client/stream/impl/ReaderGroupStateTest.java
  client/src/test/java/io/pravega/client/stream/mock/MockSegmentStreamFactory.java
  client/src/test/java/io/pravega/client/stream/mock/MockStreamManager.java
  controller/src/main/java/io/pravega/controller/server/eventProcessor/LocalController.java
  test/integration/src/test/java/io/pravega/test/integration/BoundedStreamReaderTest.java
  test/integration/src/test/java/io/pravega/test/integration/UnreadBytesTest.java
Labels: area/client

#2476 Issue 2466: Accept standalone config through system properties.
  build.gradle
  config/standalone-config.properties
  standalone/src/main/java/io/pravega/local/InProcPravegaCluster.java
  standalone/src/main/java/io/pravega/local/LocalPravegaEmulator.java
  standalone/src/main/java/io/pravega/local/SingleNodeConfig.java
  standalone/src/test/java/io/pravega/local/InProcPravegaClusterTest.java
Labels: area/security, area/server, in progress

#2454 Issue 2453: Enable getStreamInfo api for BatchClient.
  client/src/main/java/io/pravega/client/batch/BatchClient.java
  client/src/main/java/io/pravega/client/batch/StreamInfo.java
  client/src/main/java/io/pravega/client/batch/impl/BatchClientImpl.java
  client/src/test/java/io/pravega/client/batch/impl/BatchClientImplTest.java
Labels: area/client

#2494 Issue 2493: Implement deleteObjects API in S3FileSystemImpl, call it in the wrapper.
  segmentstore/server/host/src/test/java/io/pravega/segmentstore/server/host/S3ClientWrapper.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/extendeds3/S3FileSystemImpl.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/extendeds3/S3ImplBase.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/extendeds3/S3JerseyClientWrapper.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/extendeds3/S3ProxyImpl.java
  segmentstore/storage/src/test/java/io/pravega/segmentstore/storage/StorageTestBase.java
Labels: area/server, area/testing, area/tier2, kind/bug

#2471 Issue 2470: Flush outstanding writes in response to a segment seal
  client/src/main/java/io/pravega/client/segment/impl/SegmentOutputStreamImpl.java
  client/src/main/java/io/pravega/client/stream/impl/ClientFactoryImpl.java
  client/src/main/java/io/pravega/client/stream/impl/EventStreamWriterImpl.java
  client/src/main/java/io/pravega/client/stream/impl/SegmentSelector.java
  client/src/main/java/io/pravega/client/stream/impl/StreamSegments.java
  client/src/test/java/io/pravega/client/stream/impl/EventStreamWriterTest.java
  common/src/main/java/io/pravega/common/concurrent/ExecutorServiceHelpers.java
  segmentstore/server/host/src/main/java/io/pravega/segmentstore/server/host/handler/PravegaRequestProcessor.java
Labels: area/client

#2400 Issue 2139: Bugfix conditional append
  client/src/main/java/io/pravega/client/segment/impl/ConditionalOutputStream.java
  client/src/main/java/io/pravega/client/segment/impl/ConditionalOutputStreamFactory.java
  client/src/main/java/io/pravega/client/segment/impl/ConditionalOutputStreamFactoryImpl.java
  client/src/main/java/io/pravega/client/segment/impl/ConditionalOutputStreamImpl.java
  client/src/main/java/io/pravega/client/segment/impl/SegmentOutputStreamImpl.java
  client/src/main/java/io/pravega/client/state/impl/RevisionedStreamClientImpl.java
  client/src/main/java/io/pravega/client/stream/impl/ClientFactoryImpl.java
  client/src/main/java/io/pravega/client/stream/impl/EventStreamWriterImpl.java
  client/src/main/java/io/pravega/client/stream/impl/PendingEvent.java
  client/src/main/java/io/pravega/client/stream/impl/SegmentTransactionImpl.java
  client/src/test/java/io/pravega/client/netty/impl/RawClientTest.java
  client/src/test/java/io/pravega/client/segment/impl/AsyncSegmentInputStreamTest.java
  client/src/test/java/io/pravega/client/segment/impl/ConditionalOutputStreamTest.java
  client/src/test/java/io/pravega/client/segment/impl/SegmentInputStreamTest.java
  client/src/test/java/io/pravega/client/segment/impl/SegmentOutputStreamTest.java
  client/src/test/java/io/pravega/client/state/impl/RevisionedStreamClientTest.java
  client/src/test/java/io/pravega/client/state/impl/SynchronizerTest.java
  client/src/test/java/io/pravega/client/stream/impl/EventStreamReaderTest.java
  client/src/test/java/io/pravega/client/stream/impl/EventStreamWriterTest.java
  client/src/test/java/io/pravega/client/stream/impl/ReaderGroupStateManagerTest.java
  client/src/test/java/io/pravega/client/stream/impl/SegmentTransactionTest.java
  client/src/test/java/io/pravega/client/stream/mock/MockClientFactory.java
  client/src/test/java/io/pravega/client/stream/mock/MockSegmentIoStreams.java
  client/src/test/java/io/pravega/client/stream/mock/MockSegmentStreamFactory.java
  common/src/test/java/io/pravega/common/util/ReusableLatchTests.java
  controller/src/main/java/io/pravega/controller/server/eventProcessor/ControllerEventProcessors.java
  shared/protocol/src/main/java/io/pravega/shared/protocol/netty/AppendDecoder.java
  shared/protocol/src/main/java/io/pravega/shared/protocol/netty/CommandEncoder.java
  shared/protocol/src/main/java/io/pravega/shared/protocol/netty/WireCommands.java
  shared/protocol/src/test/java/io/pravega/shared/protocol/netty/WireCommandsTest.java
  test/integration/src/test/java/io/pravega/test/integration/AppendTest.java
  test/integration/src/test/java/io/pravega/test/integration/ReadTest.java
  test/integration/src/test/java/io/pravega/test/integration/endtoendtest/EndToEndChannelLeakTest.java
  test/testcommon/src/main/java/io/pravega/test/common/AssertExtensions.java
  test/testcommon/src/main/java/io/pravega/test/common/Async.java
  test/testcommon/src/main/java/io/pravega/test/common/TestUtils.java
Labels: area/client

#2401 Issue 2052: Use rename to fix fencing issue.
  segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/hdfs/ConcatOperation.java
  segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/hdfs/CreateOperation.java
  segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/hdfs/DeleteOperation.java
  segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/hdfs/ExistsOperation.java
  segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/hdfs/FileSystemOperation.java
  segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/hdfs/GetInfoOperation.java
  segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/hdfs/HDFSExceptionHelpers.java
  segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/hdfs/HDFSSegmentHandle.java
  segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/hdfs/HDFSStorage.java
  segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/hdfs/OpenReadOperation.java
  segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/hdfs/OpenWriteOperation.java
  segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/hdfs/ReadOperation.java
  segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/hdfs/SealOperation.java
  segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/hdfs/UnsealOperation.java
  segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/hdfs/WriteOperation.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/hdfs/ConcatOperationTests.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/hdfs/CreateOperationTests.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/hdfs/DeleteOperationTests.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/hdfs/ExistsOperationTests.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/hdfs/FileSystemOperationTestBase.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/hdfs/GetInfoOperationTests.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/hdfs/HDFSSegmentHandleTests.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/hdfs/HDFSStorageTest.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/hdfs/OpenReadOperationTests.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/hdfs/OpenWriteOperationTests.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/hdfs/ReadOperationTests.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/hdfs/SealOperationTests.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/hdfs/UnsealOperationTests.java
  segmentstore/storage/impl/src/test/java/io/pravega/segmentstore/storage/impl/hdfs/WriteOperationTests.java
Labels: area/server, area/tier2
