Repository pravega/pravega, pull requests merged in 2019-11, with the labels that each got.

#4275 Issue 4274: Write padding more efficiently
  shared/protocol/src/main/java/io/pravega/shared/protocol/netty/CommandEncoder.java
  shared/protocol/src/test/java/io/pravega/shared/protocol/netty/AppendEncodeDecodeTest.java
Labels: area/client, area/performance

#4341 Issue #4340: Remove warnings from missing annotations
  controller/src/main/java/io/pravega/controller/store/stream/Version.java
  controller/src/main/java/io/pravega/controller/store/stream/ZKScope.java
  controller/src/main/java/io/pravega/controller/store/stream/ZKStream.java
  controller/src/test/java/io/pravega/controller/rest/v1/PingTest.java
  segmentstore/server/host/src/test/java/io/pravega/segmentstore/server/host/ExtendedS3IntegrationTest.java
  segmentstore/server/host/src/test/java/io/pravega/segmentstore/server/host/FileSystemIntegrationTest.java
  segmentstore/server/host/src/test/java/io/pravega/segmentstore/server/host/HDFSIntegrationTest.java
  segmentstore/server/host/src/test/java/io/pravega/segmentstore/server/host/stat/SegmentStatsRecorderTest.java
  test/integration/src/test/java/io/pravega/test/integration/BatchClientTest.java
Labels: area/build

#4371 Issue 4372: Split controller thread pools to avoid potential deadlock.
  controller/src/main/java/io/pravega/controller/server/ControllerServiceStarter.java
  controller/src/main/java/io/pravega/controller/task/Stream/StreamMetadataTasks.java
  controller/src/main/java/io/pravega/controller/task/Stream/StreamTransactionMetadataTasks.java
Labels: area/controller

#4382 Issue 4383: Fix exception handling during state synchronizer compaction.
  client/src/main/java/io/pravega/client/segment/impl/SegmentMetadataClientImpl.java
  client/src/test/java/io/pravega/client/segment/impl/SegmentMetadataClientTest.java
Labels: area/client
