Repository pravega/pravega, pull requests merged in 2019-04, with the labels that each got.

#3640 Issue #3624: Fix backward compatibility issue with WireCommands.
  shared/protocol/src/main/java/io/pravega/shared/protocol/netty/CommandEncoder.java
  shared/protocol/src/main/java/io/pravega/shared/protocol/netty/WireCommands.java
  shared/protocol/src/test/java/io/pravega/shared/protocol/netty/WireCommandsTest.java
Labels: kind/bug, priority/P0, version/0.5.0

#3639 Issue #3632: Add session to connection before it is established
  client/src/main/java/io/pravega/client/ClientConfig.java
  client/src/main/java/io/pravega/client/netty/impl/Connection.java
  client/src/main/java/io/pravega/client/netty/impl/ConnectionPoolImpl.java
  client/src/main/java/io/pravega/client/netty/impl/FlowHandler.java
  client/src/test/java/io/pravega/client/netty/impl/ConnectionPoolingTest.java
  test/integration/src/test/java/io/pravega/test/integration/endtoendtest/EndToEndChannelLeakTest.java
Labels: area/client, area/testing, priority/P2, version/0.5.0

#3364 Issue #3333, #2572: Keep completed segments in position objects.
  client/src/main/java/io/pravega/client/stream/ReaderGroup.java
  client/src/main/java/io/pravega/client/stream/ReaderGroupConfig.java
  client/src/main/java/io/pravega/client/stream/impl/EventStreamReaderImpl.java
  client/src/main/java/io/pravega/client/stream/impl/PositionInternal.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupState.java
  client/src/main/java/io/pravega/client/stream/impl/ReaderGroupStateManager.java
  client/src/main/java/io/pravega/client/stream/notifications/notifier/EndOfDataNotifier.java
  client/src/main/java/io/pravega/client/stream/notifications/notifier/SegmentNotifier.java
  client/src/test/java/io/pravega/client/admin/impl/StreamManagerImplTest.java
  client/src/test/java/io/pravega/client/batch/impl/BatchClientImplTest.java
  client/src/test/java/io/pravega/client/byteStream/ByteStreamReaderTest.java
  client/src/test/java/io/pravega/client/byteStream/ByteStreamWriterTest.java
  client/src/test/java/io/pravega/client/netty/impl/RawClientTest.java
  client/src/test/java/io/pravega/client/segment/impl/AsyncSegmentInputStreamTest.java
  client/src/test/java/io/pravega/client/segment/impl/ConditionalOutputStreamTest.java
  client/src/test/java/io/pravega/client/segment/impl/SegmentMetadataClientTest.java
  client/src/test/java/io/pravega/client/segment/impl/SegmentOutputStreamTest.java
  client/src/test/java/io/pravega/client/state/impl/RevisionedStreamClientTest.java
  client/src/test/java/io/pravega/client/stream/impl/EventStreamReaderTest.java
  client/src/test/java/io/pravega/client/stream/impl/ReaderGroupStateManagerTest.java
  client/src/test/java/io/pravega/client/stream/mock/MockClientFactory.java
  client/src/test/java/io/pravega/client/stream/mock/MockController.java
  client/src/test/java/io/pravega/client/stream/mock/MockStreamManager.java
  client/src/test/java/io/pravega/client/stream/notifications/EndOfDataNotifierTest.java
  client/src/test/java/io/pravega/client/stream/notifications/SegmentNotifierTest.java
  common/src/main/java/io/pravega/common/TimeoutTimer.java
  common/src/test/java/io/pravega/common/TimeoutTimerTest.java
  common/src/test/java/io/pravega/common/util/IteratorTest.java
  shared/protocol/src/test/java/io/pravega/shared/protocol/netty/AppendEncodeDecodeTest.java
  test/integration/src/test/java/io/pravega/test/integration/AppendReconnectTest.java
  test/integration/src/test/java/io/pravega/test/integration/AppendTest.java
  test/integration/src/test/java/io/pravega/test/integration/BoundedStreamReaderTest.java
  test/integration/src/test/java/io/pravega/test/integration/MetricsTest.java
  test/integration/src/test/java/io/pravega/test/integration/ReadTest.java
  test/integration/src/test/java/io/pravega/test/integration/ReadWriteUtils.java
  test/integration/src/test/java/io/pravega/test/integration/ReaderGroupNotificationTest.java
  test/integration/src/test/java/io/pravega/test/integration/StreamCutsTest.java
  test/integration/src/test/java/io/pravega/test/integration/StreamSeekTest.java
  test/integration/src/test/java/io/pravega/test/integration/TransactionTest.java
  test/integration/src/test/java/io/pravega/test/integration/endtoendtest/EndToEndChannelLeakTest.java
  test/integration/src/test/java/io/pravega/test/integration/endtoendtest/EndToEndReaderGroupTest.java
  test/integration/src/test/java/io/pravega/test/integration/endtoendtest/EndToEndStatsTest.java
  test/integration/src/test/java/io/pravega/test/integration/endtoendtest/EndToEndTransactionOrderTest.java
  test/integration/src/test/java/io/pravega/test/integration/endtoendtest/EndToEndTruncationTest.java
  test/integration/src/test/java/io/pravega/test/integration/endtoendtest/EndToEndTxnWithTest.java
  test/integration/src/test/java/io/pravega/test/integration/endtoendtest/EndToEndWithScaleTest.java
  test/testcommon/src/main/java/io/pravega/test/common/InlineExecutor.java
Labels: area/autoscaling, area/client, area/readergroup

#3704 Issue 2830: PingTxnStatus now informs if the Transaction is closed
  client/src/main/java/io/pravega/client/stream/Transaction.java
  client/src/main/java/io/pravega/client/stream/impl/Controller.java
  client/src/main/java/io/pravega/client/stream/impl/ControllerImpl.java
  client/src/main/java/io/pravega/client/stream/impl/ModelHelper.java
  client/src/test/java/io/pravega/client/stream/impl/ControllerImplTest.java
  client/src/test/java/io/pravega/client/stream/impl/PingerTest.java
  client/src/test/java/io/pravega/client/stream/mock/MockController.java
  controller/src/main/java/io/pravega/controller/server/eventProcessor/LocalController.java
  controller/src/main/java/io/pravega/controller/task/Stream/StreamTransactionMetadataTasks.java
  controller/src/test/java/io/pravega/controller/task/Stream/StreamTransactionMetadataTasksTest.java
  shared/controller-api/src/main/proto/Controller.proto
Labels: area/controller

#3703 Issue 3702: Prevent suppression of stack traces in tests
  common/src/test/java/io/pravega/common/util/RetryTests.java
  controller/src/test/java/io/pravega/controller/server/ControllerServiceMainTest.java
  controller/src/test/java/io/pravega/controller/server/ControllerServiceStarterTest.java
  controller/src/test/java/io/pravega/controller/server/PravegaTablesControllerServiceMainTest.java
  controller/src/test/java/io/pravega/controller/server/PravegaTablesControllerServiceStarterTest.java
  controller/src/test/java/io/pravega/controller/server/ZKControllerServiceMainTest.java
  controller/src/test/java/io/pravega/controller/server/ZKControllerServiceStarterTest.java
  controller/src/test/java/io/pravega/controller/store/stream/HostStoreTest.java
  segmentstore/server/src/test/java/io/pravega/segmentstore/server/reading/ContainerReadIndexTests.java
  segmentstore/server/src/test/java/io/pravega/segmentstore/server/tables/TableBucketReaderTests.java
  test/integration/src/test/java/io/pravega/test/integration/ControllerBootstrapTest.java
  test/integration/src/test/java/io/pravega/test/integration/ReadTest.java
  test/system/src/test/java/io/pravega/test/system/MetadataScalabilityLargeNumSegmentsTest.java
  test/system/src/test/java/io/pravega/test/system/MetadataScalabilityLargeScalesTest.java
  test/system/src/test/java/io/pravega/test/system/PravegaTest.java
  test/system/src/test/java/io/pravega/test/system/ReaderCheckpointTest.java
Labels: area/testing
