Repository pravega/pravega, pull requests merged in 2019-01, with the labels that each got.

#3187 Issue 3188: Using Lombok Getter(lazy=true) in AbstractScaleTests.java make javac crash on JDK10
  test/system/src/test/java/io/pravega/test/system/AbstractScaleTests.java
Labels: area/build

#3257 Issue 3256: Add more tests to circular buffer
  common/src/test/java/io/pravega/common/util/CircularBufferTests.java
Labels: area/testing

#3255 Issue #3254: Delete empty test files.
  client/src/test/java/io/pravega/client/segment/impl/SegmentManagerTest.java
  client/src/test/java/io/pravega/client/segment/impl/TransactionTest.java
  client/src/test/java/io/pravega/client/stream/impl/SegmentEventReaderTest.java
  client/src/test/java/io/pravega/client/stream/impl/SegmentEventWriterTest.java
Labels: area/code

#3288 Issue #3287: Exclude "passwd" extensions from rat.
  gradle/rat.gradle
Labels: area/build

#3281 Issue 2001: Make a defensive copy of streamCut's position map
  client/src/main/java/io/pravega/client/stream/impl/StreamCutImpl.java
Labels: area/client

#3300 Issue #3299: Reduce dependencies in client
  build.gradle
  settings.gradle
  shared/cluster/src/main/java/io/pravega/common/cluster/Cluster.java
  shared/cluster/src/main/java/io/pravega/common/cluster/ClusterException.java
  shared/cluster/src/main/java/io/pravega/common/cluster/ClusterListener.java
  shared/cluster/src/main/java/io/pravega/common/cluster/ClusterType.java
  shared/cluster/src/main/java/io/pravega/common/cluster/Host.java
  shared/cluster/src/main/java/io/pravega/common/cluster/zkImpl/ClusterZKImpl.java
  shared/cluster/src/test/java/io/pravega/common/cluster/zkImpl/ClusterZKTest.java
  shared/protocol/src/main/java/io/pravega/shared/NameUtils.java
  shared/protocol/src/main/java/io/pravega/shared/segment/SegmentToContainerMapper.java
  shared/protocol/src/main/java/io/pravega/shared/segment/StreamSegmentNameUtils.java
  shared/protocol/src/test/java/io/pravega/shared/NameUtilsTest.java
  shared/protocol/src/test/java/io/pravega/shared/segment/SegmentToContainerMapperTests.java
  shared/protocol/src/test/java/io/pravega/shared/segment/StreamSegmentNameUtilsTests.java
Labels: area/build

#3298 Issue 3136: Merge fixes from master to r0.4 for release v0.4.0 (Documentation)
  documentation/src/docs/basic-reader-and-writer.md
  documentation/src/docs/controller-service.md
  documentation/src/docs/img/Segment-store-components.png
  documentation/src/docs/img/controller-diagram.png
  documentation/src/docs/img/request-process-flow.png
  documentation/src/docs/img/segment-store-append.png
  documentation/src/docs/img/segment-store-reads.png
  documentation/src/docs/img/segment-store-recovery.png
  documentation/src/docs/img/segment-store-synctier2.png
  documentation/src/docs/img/transaction-management.png
  documentation/src/docs/key-features.md
  documentation/src/docs/pravega-concepts.md
  documentation/src/docs/security/pravega-security-configurations.md
  documentation/src/docs/security/pravega-security-encryption.md
  documentation/src/docs/segment-store-service.md
Labels: area/documentation

#3280 Issue 3279: Client is performing blocking operations inside Netty Event Loop
  client/src/main/java/io/pravega/client/netty/impl/ClientConnection.java
  client/src/main/java/io/pravega/client/netty/impl/ClientConnectionInboundHandler.java
  client/src/main/java/io/pravega/client/netty/impl/RawClient.java
  client/src/main/java/io/pravega/client/segment/impl/AsyncSegmentInputStreamImpl.java
  client/src/test/java/io/pravega/client/admin/impl/StreamManagerImplTest.java
  client/src/test/java/io/pravega/client/batch/impl/BatchClientImplTest.java
  client/src/test/java/io/pravega/client/byteStream/ByteStreamReaderTest.java
  client/src/test/java/io/pravega/client/byteStream/ByteStreamWriterTest.java
  client/src/test/java/io/pravega/client/netty/impl/RawClientTest.java
  client/src/test/java/io/pravega/client/segment/impl/AsyncSegmentInputStreamTest.java
  client/src/test/java/io/pravega/client/segment/impl/ConditionalOutputStreamTest.java
  client/src/test/java/io/pravega/client/segment/impl/SegmentMetadataClientTest.java
  client/src/test/java/io/pravega/client/segment/impl/SegmentOutputStreamTest.java
  client/src/test/java/io/pravega/client/stream/mock/MockController.java
  controller/src/main/java/io/pravega/controller/server/SegmentHelper.java
  controller/src/test/java/io/pravega/controller/server/SegmentHelperTest.java
Labels: area/client

#3250 Issue 3173: Add assertions and tests
  client/src/main/java/io/pravega/client/stream/impl/ControllerImpl.java
  client/src/main/java/io/pravega/client/stream/impl/StreamSegments.java
  client/src/test/java/io/pravega/client/stream/impl/EventStreamWriterTest.java
  client/src/test/java/io/pravega/client/stream/impl/SegmentSelectorTest.java
  client/src/test/java/io/pravega/client/stream/impl/StreamSegmentsTest.java
  client/src/test/java/io/pravega/client/stream/impl/TransactionalEventStreamWriterTest.java
  client/src/test/java/io/pravega/client/stream/mock/MockController.java
  controller/src/main/java/io/pravega/controller/server/eventProcessor/LocalController.java
Labels: area/autoscaling, area/client
