Repository pravega/pravega, pull requests merged in 2021-05, with the labels that each got.

#5981 Issue 5982: Fix race in TcpClientConnection.
  client/src/main/java/io/pravega/client/connection/impl/TcpClientConnection.java
  client/src/test/java/io/pravega/client/connection/impl/TcpClientConnectionTest.java
Labels: area/client

#6017 Issue 6029: Add note about Serializers
  documentation/src/docs/getting-started.md
Labels: area/documentation

#6048 Issue 6045: Storage - StorageReadManager does not correctly handle failures in Storage::openRead
  segmentstore/server/src/main/java/io/pravega/segmentstore/server/reading/StorageReadManager.java
  segmentstore/server/src/test/java/io/pravega/segmentstore/server/reading/StorageReadManagerTests.java
Labels: version/0.9.1

#6058 Issue 6041: Default value of storage.metadata.rollover.size.bytes.max is too big. Change it to 128MB
  config/config.properties
  segmentstore/storage/src/main/java/io/pravega/segmentstore/storage/chunklayer/ChunkedSegmentStorageConfig.java
  segmentstore/storage/src/main/java/io/pravega/segmentstore/storage/chunklayer/SystemJournal.java
  segmentstore/storage/src/test/java/io/pravega/segmentstore/storage/chunklayer/ChunkedSegmentStorageConfigTests.java
  segmentstore/storage/src/test/java/io/pravega/segmentstore/storage/chunklayer/ChunkedSegmentStorageMockTests.java
  segmentstore/storage/src/test/java/io/pravega/segmentstore/storage/chunklayer/ChunkedSegmentStorageTests.java
  segmentstore/storage/src/test/java/io/pravega/segmentstore/storage/chunklayer/SystemJournalTests.java
Labels: area/lts, version/0.10.0
